<p style="color: green"><%= notice %></p>

<%= render @arium %>

<div>
  <%= link_to "Edit this arium", edit_arium_path(@arium) %> |
  <%= link_to "Back to aria", aria_path %>

  <%= button_to "Destroy this arium", @arium, method: :delete, form: {data: {turbo_confirm: "本当に削除してもよろしいですか？"}} %>
</div>
<ul>
  <% Prefecture.where(area_id: @arium.id).each do |p| %>
    <li><%= p.name %></li>
  <% end %>
</ul>